<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <link href='http://fonts.googleapis.com/css?family=Calibri'
          rel='stylesheet' type='text/css' />
    <style>
        body {
            font-family: 'Calibri', serif;
            font-size: 18pt;
        }
    </style>
</head>
<body>
<h3>List of cars</h3>
<br>
<br>
<div style="line-height:25pt;">

    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th> Model </th>
            <th> Series </th>
            <th> Age </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${cars}">
            <td><span th:text="${car.getModel()}"> Model </span></td>
            <td><span th:text="${car.getSeries()}"> Series </span></td>
            <td><span th:text="${car.getYear()}"> Year </span></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>